<%- layout('../layout') %>

block content
  <h2> API Browser </h2>

<h2>API Browser</h2>
<ol>
  <li><a href="/api/aviary">Aviary</a></li>
  <li><a href="/api/clockwork">Clockwork SMS</a></li>
  <li><a href="/api/facebook">Facebook</a><small> ⇢ Login Required</small></li>
  <li><a href="/api/foursquare">Foursquare</a><small> ⇢ Login Required</small></li>
  <li><a href="/api/github">GitHub</a><small> ⇢ Login Required</small></li>
  <li><a href="/api/lastfm">Last.fm</a></li>
  <li><a href="/api/linkedin">LinkedIn</a><small> ⇢ Login Required</small></li>
  <li><a href="/api/nyt">New York Times</a></li>
  <li><a href="/api/paypal">PayPal</a></li>
  <li><a href="/api/steam">Steam</a></li>
  <li><a href="/api/twilio">Twilio</a></li>
  <li><a href="/api/tumblr">Tumblr</a><small> ⇢ Login Required</small></li>
  <li><a href="/api/twitter">Twitter</a><small> ⇢ Login Required</small></li>
  <li><a href="/api/scraping">Web Scraping</a></li>
  <li><a href="/api/venmo">Venmo</a><small> ⇢ Login Required</small></li>
</ol>